html, body {
  font-family: 'Arial';
  width: 100%;
  height: 100%; }
  html .navigation, body .navigation {
    position: fixed;
    z-index: 1;
    top: 20px; }
    html .navigation li, body .navigation li {
      color: #000000;
      display: block;
      padding: 0 10px;
      line-height: 30px;
      margin-bottom: 2px;
      font-weight: bold;
      -webkit-transition: all .2s ease-in-out;
      border-bottom: 1px solid black;
      text-align: left;
      width: 53px; }
      html .navigation li :hover, html .navigation li :active, body .navigation li :hover, body .navigation li :active {
        font-size: 25px;
        cursor: pointer;
        width: 100px !important; }
  html .slide, body .slide {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative; }
    html .slide .wrapper, body .slide .wrapper {
      width: 960px;
      height: 200px;
      margin: 0 auto;
      position: relative; }
    html .slide .slideno, body .slide .slideno {
      position: absolute;
      bottom: 0px;
      left: 0px;
      font-size: 100px;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.3); }
    html .slide .button, body .slide .button {
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      bottom: 0px;
      left: 85%;
      background-color: #333333;
      background-image: url(../image/arrow.png);
      background-repeat: no-repeat; }
      html .slide .button :hover, body .slide .button :hover {
        background-color: #494949;
        cursor: pointer; }
  html #slide1, body #slide1 {
    background-image: url(../image/Valoran.jpg);
    max-width: 1920px;
    width: 100%;
    background-size: 100%; }
  html #slide2, body #slide2 {
    background-image: url(../image/Demacia.jpg);
    max-width: 1920px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat; }
    html #slide2 img:first-child, body #slide2 img:first-child {
      position: absolute;
      top: 700px;
      left: 300px; }
  html #slide3, body #slide3 {
    background-image: url(../image/Noxus.jpg);
    max-width: 1920px;
    width: 100%;
    background-size: 100%; }
  html #slide4, body #slide4 {
    background-image: url(../image/Freljord.jpg);
    max-width: 1920px;
    width: 100%;
    background-size: 100%; }
  html #slide5, body #slide5 {
    background-image: url(../image/Piltover.jpg);
    max-width: 1920px;
    width: 100%;
    background-size: 100%; }
  html #slide6, body #slide6 {
    background-image: url(../image/Zaun.jpg);
    max-width: 1920px;
    width: 100%;
    background-size: 100%; }
  html #slide7, body #slide7 {
    background-image: url(../image/Ionia.jpg);
    max-width: 1920px;
    width: 100%;
    background-size: 100%; }
  html #slide8, body #slide8 {
    background-image: url(../image/Bilgewater.jpg);
    max-width: 1920px;
    width: 100%;
    background-size: 100%; }
  html #slide9, body #slide9 {
    background-image: url(../image/Bandle_City.jpg);
    max-width: 1920px;
    width: 100%;
    background-size: 100%; }
