html, body {
  font-family: 'Arial';
  width: 100%;
  height: 100%; }
  html .navigation, body .navigation {
    text-align: center;
    position: fixed;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: auto;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat; }
    html .navigation li, body .navigation li {
      color: black;
      padding: 0 30px;
      line-height: 30px;
      font-weight: bold;
      -webkit-transition: all .1s ease-in-out;
      text-align: center;
      display: inline-block; }
      html .navigation li:hover, html .navigation li :active, body .navigation li:hover, body .navigation li :active {
        font-size: 25px;
        cursor: pointer;
        text-align: center; }
  html .slide, body .slide {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 1920px;
    margin: 0 auto; }
    html .slide .text, body .slide .text {
      position: absolute;
      color: #000000;
      background-color: rgba(255, 255, 255, 0.5); }
      html .slide .text p, body .slide .text p {
        padding: 10px; }
    html .slide .wrapper, body .slide .wrapper {
      width: 100%;
      height: 100%;
      z-index: 1;
      text-align: center; }
    html .slide .slideno, body .slide .slideno {
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-size: 100px;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.3); }
    html .slide .button, body .slide .button {
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      bottom: 0px;
      left: 73%;
      background-color: #333333;
      background-image: url(../image/arrow.png);
      background-repeat: no-repeat; }
      html .slide .button:hover, body .slide .button:hover {
        background-color: #494949;
        cursor: pointer; }
  html #slide1, body #slide1 {
    background-image: url(../image/front.jpg); }
    html #slide1 #text1_0, body #slide1 #text1_0 {
      background-color: transparent;
      color: white;
      width: 514px;
      margin: auto;
      position: absolute;
      top: 70%;
      left: 0;
      bottom: 0;
      right: 0; }
      html #slide1 #text1_0 h1, body #slide1 #text1_0 h1 {
        font-size: 36px;
        line-height: 40px; }
    html #slide1 #text1_1, body #slide1 #text1_1 {
      background-color: transparent;
      color: white;
      text-align: center;
      margin: auto;
      position: absolute;
      top: 75%;
      left: 0;
      bottom: 0;
      right: 0; }
    html #slide1 #logo, body #slide1 #logo {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    html #slide1 #poro, body #slide1 #poro {
      margin: auto;
      position: absolute;
      top: -70%;
      left: 0;
      bottom: 0;
      right: -50%; }
  html #slide2, body #slide2 {
    background-image: url(../image/valoran.jpg); }
  html #slide3, body #slide3 {
    background-image: url(../image/demacia.jpg); }
    html #slide3 #text3, body #slide3 #text3 {
      width: 600px;
      top: 20%;
      left: 7.5%; }
  html #slide4, body #slide4 {
    background-image: url(../image/noxus.jpg); }
    html #slide4 #text4, body #slide4 #text4 {
      color: white;
      width: 600px;
      top: 20%;
      left: 2.5%; }
  html #slide5, body #slide5 {
    background-image: url(../image/freljord.jpg); }
    html #slide5 #text5, body #slide5 #text5 {
      width: 600px;
      top: 15%;
      left: 27.5%; }
  html #slide6, body #slide6 {
    background-image: url(../image/piltover.jpg); }
    html #slide6 #text6, body #slide6 #text6 {
      width: 700px;
      top: 35%;
      left: 3%; }
  html #slide7, body #slide7 {
    background-image: url(../image/zaun.jpg); }
    html #slide7 #text7, body #slide7 #text7 {
      color: white;
      width: 700px;
      top: 15%;
      left: 2%; }
  html #slide8, body #slide8 {
    background-image: url(../image/ionia.jpg); }
    html #slide8 #text8, body #slide8 #text8 {
      color: black;
      width: 500px;
      top: 20%;
      right: 18.5%; }
  html #slide9, body #slide9 {
    background-image: url(../image/bilgewater.jpg); }
    html #slide9 #text9, body #slide9 #text9 {
      color: white;
      width: 700px;
      top: 14%;
      right: 2%; }
  html #slide10, body #slide10 {
    background-image: url(../image/bandlecity.jpg); }
    html #slide10 #text10, body #slide10 #text10 {
      color: black;
      width: 600px;
      top: 12%;
      left: 1.5%; }
