html,body{
  font-family: 'Arial';
  width:100%;
  height:100%;
  .navigation{
    text-align:center;
    position:fixed;
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    z-index:1;
    background-color:rgba(255,255,255,0.5);
    background-repeat:no-repeat;
    li{
      color:black;
      padding:0 30px;
      line-height:30px;
      font-weight:bold;
      -webkit-transition:all .1s ease-in-out;
      text-align:center;
      display:inline-block;
      &:hover,:active{
        font-size:25px;
        cursor:pointer;
        text-align:center;
      }
    }
  }
  .slide{
    background-attachment:fixed;
    width:100%;
    height:100%;
    position:relative;
    background-size:100% 100%;
    background-repeat:no-repeat;
    max-width:1920px;
    margin:0 auto;
    
    .text{
      position:absolute;
      color:#000000;
      background-color:rgba(255,255,255,0.5);
      p{
        padding:10px;
      }
    }
    .wrapper{
      width: 100%;
      height: 100%;
      z-index: 1;
      text-align: center;
    }
    .slideno{
      position:absolute;
      bottom:20px;
      left:20px;
      font-size:100px;
      font-weight:bold;
      color:rgba(255,255,255,0.3);
    }
    .button{
      display:block;
      width:50px;
      height:50px;
      position:absolute;
      bottom:0px;
      left:73%;
      background-color:#333333;
      background-image:url(../image/arrow.png);
      background-repeat:no-repeat;
      &:hover{
        background-color:#494949;
        cursor:pointer;
      }
    }
  }
  #slide1{
    background-image:url(../image/front.jpg);
    #text1_0{
      background-color:transparent;
      color:white;
      width:514px;
      bottom:42%;
      left:29.85%;
      h1{
        font-size: 36px;
        line-height: 40px;
      }
    }
    #text1_1{
      background-color:transparent;
      color:white;
      text-align:center;
      bottom:28%;
      left:38.5%;
    }
    #logo {
      margin:7% 0% 7% 0%;
    }
    #poro{

    }
  }
  #slide2{
    background-image:url(../image/valoran.jpg);
  }
  #slide3{
    background-image:url(../image/demacia.jpg);
    #text3{
      width:600px;
      top:20%;
      left:7.5%;
    }
  }
  #slide4{
    background-image:url(../image/noxus.jpg);
    #text4{
      color:white;
      width:600px;
      top:20%;
      left:2.5%;
    }
  }
  #slide5{
    background-image:url(../image/freljord.jpg);
    #text5{
      width:600px;
      top:15%;
      left:27.5%;
    }
  }
  #slide6{
    background-image:url(../image/piltover.jpg);
    #text6{
      width:700px;
      top:35%;
      left:3%;
    }
  }
  #slide7{
    background-image:url(../image/zaun.jpg);
    #text7{
      color:white;
      width:700px;
      top:15%;
      left:2%;
    }
  }
  #slide8{
    background-image:url(../image/ionia.jpg);
    #text8{
      color:black;
      width:500px;
      top:20%;
      right:18.5%;
    }
  }
  #slide9{
    background-image:url(../image/bilgewater.jpg);
    #text9{
      color:white;
      width:700px;
      top:14%;
      right:2%;
    }
  }
  #slide10{
    background-image:url(../image/bandlecity.jpg);
    #text10{
      color:black;
      width:600px;
      top:12%;
      left:1.5%;
    }
  }
}